@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #ffff;
  --secondary: #fbd291;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-open-sans);
  --font-clash: var(--font-clash-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}
